/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap' */


html {
    scroll-behavior: smooth;
} 
  
body {
    background: black;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: scroll;
    object-fit: cover;
    height: 100%;
    margin: 0;
    padding: 0;

}
#top-pic {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

.cover {
    object-fit: cover;
}


.main {
    position: relative;
}

#welcome {
    position: absolute;
    left: 20%;
    top: 40%;
    width: auto;
    font-weight: bold;
    color: #2e2d2d;
    font-family: 'Petit Formal Script', cursive;
}
.container {
    height: auto;
    overflow: hidden;
    text-align: center;
	align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

   
}

.container-large {
    height: auto;
    overflow: hidden;
    text-align: center;
	align-items: center;
    justify-content: center;
    margin: 0 auto;

   
}

.main-bar {
    padding-bottom: 0px;
}
.aboutme-section {
    display: flex;
	align-items: center;
    justify-content: center;
    padding-top: 50px;
    height: auto;
}

#picture {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
     
}
.picborder {
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    padding: 3.5px;
}
#top-container {
    position: relative;
    min-height: 100vh;
    /* background: url("../images/plant.jpg"); */
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
h1{
    text-align: center;
    justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .content {
    padding: 50px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  :focus {
	outline: 0;
}

body {
	background: #263238; 
}

h3 {
	text-align: center;
}

#container-skills {
    background-color: #333;
    color: #f2f2f2;
    height: auto;

}
/* 
//Projects  */
#container-projects {
    padding-top: 50x;
}

.contact {
    background: #333;
    color: #f2f2f2;
    height: auto;
}

.zoom:hover {
    transition-duration: .2s;
    transform: scale(1.03);
}

.block {
    height: 200px;
}
.recentprojects {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #979494;
  }

.projborder {
    border: 2px solid rgb(206, 206, 206);
    border-radius: 8px;
    padding: 3.5px;
    height: 200px;
}

.recentprojects div {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    height: auto;
  }
 
.projectdescription {
    font: 15px 'Roboto', sans-serif;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    justify-content: center;
}

  .headingtitle, .headingtitletop {
    font: 20px 'Open Sans Condensed', sans-serif;
    color: #2e2d2d;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
}

a.projectbutton {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #979494;
    margin:0 1px 1px 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color:#333333;
    text-align:center;
    transition: all 0.2s;
    }

a.projectbutton:hover {
    font-weight: bold;
    }







